
//------------------------------------------------------------------------------
//
//    Globals
//
//------------------------------------------------------------------------------

// Hide only visually, but have it available for screenreaders:by Jon Neal
// www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden
@mixin visually-hidden {
  border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;
  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard:drupal.org/node/897638
  &.focusable:active, &.focusable:focus, &.focus {
    clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;
  }
}

@mixin transition( $transition ) {
  -moz-transition:    $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin opacity( $opacity ) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

.visually-hidden {
  @include visually-hidden;
}
html {
  height: 100%;
  background: none $background-color;
}
body {
  > .ng-scope {
    overflow: hidden;
  }
}
md-content.md-default-theme, md-content {
  background-color: transparent !important;
}
md-content {
  overflow: visible;
}
h1, h2, h3 {
  letter-spacing: 2px;
}
h4, h5, h6 {
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacer-y;
  line-height: 110%;
  &.no-margin {
    margin-bottom: 0;
  }
  &.intro-text {
    letter-spacing: 0;
    line-height: 140%;
    @media( max-width: '767px' ) {
      margin-bottom: $spacer-y / 2;
      font-size: 1.2rem;
    }
  }
}
@media( max-width: '479px' ) {
  h1 {
    font-size: 2rem;
  }
}
strong {
  //font-family: $font-family-serif-2;
  font-weight: 700;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  padding: 5px 80px 5px 10px;
  background: url("#{$images}/select-arrow-green.png") no-repeat right $white;
  color: $gray-dark;
  border: 0;
  border-radius: 0;
  @include box-shadow( 0, 1px, 2px, rgba( 0, 0, 0, .45 ) );
}
select::-ms-expand {
  display: none;
}
input {
  padding: 5px 10px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border: 0;
  @include box-shadow( 0, 1px, 2px, rgba( 0, 0, 0, .45 ) );
}
span.reg {
  font-size: 11px;
  top: -4px;
  position: relative;
}
.img-responsive {
  max-width: 100%;
}
.center {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.no-gutter {
  @media( max-width: '767px' ) {
    padding-left: 0;
    padding-right: 0;
    @media( max-width: '599px' ) {
      padding-right: 12.5px;
      padding-left: 12.5px;
      width: 100%;
    }
  }
}
.nav-tabs {
  list-style: none;
  padding-left: 0;
  border-bottom: 0;
  margin-bottom: 0;
  .link-container {
    border-top: 5px solid;
    border-bottom: 5px solid;
    @media( max-width: '767px' ) {
      border: none;
    }
  }
  li {
    padding: 0 2px;
    text-align: center;
    &:first-child {
      padding-left: 0;
      @media( max-width: '767px' ) {
        padding-left: 2px;
      }
    }
    &:last-child {
      padding-right: 0;
      @media( max-width: '767px' ) {
        padding-right: 2px;
      }
    }
    .inner {
      a {
        text-decoration: none;
        @include transition( all .2s );
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

*:focus {
  outline-color: $brand-secondary !important;
}

//------------------------------------------------------------------------------
//
//    Layout
//
//------------------------------------------------------------------------------

body {
  background: url(../img/wood-texture.jpg);
  background-position: left top;
  height: auto;
  min-height: 100%;
}

#container {
  width: 100%;
  max-width: 1380px;
  //max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

//------------------------------------------------------------------------------
//
//    Typography
//
//------------------------------------------------------------------------------

h2 {
  color: $brand-secondary;
  font-family: $font-family-sans-serif-condensed;
  font-weight: bold;
}

//------------------------------------------------------------------------------
//
//    Divider
//
//------------------------------------------------------------------------------

hr.divider {
  border: 0;
  height: 2px;
  position: relative;
  margin: 0.5em 0;
  background: -webkit-radial-gradient(center ellipse, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 80%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 80%);
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  &::before {
    top: -0.5em;
    height: 1em;
    background: -webkit-radial-gradient(center ellipse, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
  }
  &::after {
    top: -8px;
    height: 0.5em;
    background: $background-color;
    opacity: 0.85;
  }
}

//------------------------------------------------------------------------------
//
//    Header
//
//------------------------------------------------------------------------------

#header {
  position: relative;
  width: 100%;
  @media(min-width: 640px) {
    height: 0;
    padding-bottom: 18.16%;
    //background: url(../img/header.png);
    background: url(../img/header-wide.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    max-width: 1240px;
    margin: auto;
  }
  @media(min-width: 1240px) {
    padding-bottom: 16.16%;
  }

  #logo {
    display: block;
    background: url(../img/simplot-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 63px;
    margin: 10px auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    @media(min-width: 640px) {
      position: absolute;
      background: transparent;
      margin: 0;
      top: 13%;
      left: 4.5%;
      width: 18.5%;
      height: 42%;
    }
  }

  .message {
    background: $brand-secondary;
    color: $white;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 15px 20px;
    box-shadow: 0 3px 4px rgba($black, 0.45);
    p {
      margin-bottom: 0;
      line-height: 1;
      font-size: 1.35rem;
    }
    @media(min-width: 640px) {
      position: absolute;
      top: 0;
      left: -99999px;
    }
  }

  #cta {
    display: block;
    position: absolute;
    top: 83px;
    left: auto;
    right: 10px;
    width: 80px;
    height: 32px;
    text-align: center;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba($black, 0.2);
    a {
      color: $brand-secondary;
      line-height: 32px;
      font-weight: bold;
      font-family: $font-family-sans-serif-condensed;
      text-decoration: none;
    }
    @media(min-width: 640px) {
      display: block;
      position: absolute;
      top: 9.5%;
      left: auto;
      right: 5.5%;
      width: 10%;
      height: 28%;
      background: transparent;
      border-radius: none;
      box-shadow: none;
      a {
        display: block;
        width: 100%;
        height: 100%;
        span {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
      }
    }
  }

  nav {
    position: relative;
    width: 100%;
    margin: 0 auto 24px;
    text-align: center;
    line-height: 1;
    padding-top: 14px;
    @media(min-width: 640px) {
      position: absolute;
      top: 47%;
      left: 0;
      right: 0;
      width: 100%;
      height: 27%;
      line-height: 1.5;
      margin: 0 auto;
      padding-left: 25%;
      padding-right: 18%;
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      box-shadow: none;
    }
    .divider {
      height: 4px;
      background: -webkit-radial-gradient(center ellipse, rgba($brand-secondary, 0.8) 0%, rgba(0,0,0,0) 80%);
      background: radial-gradient(ellipse at center, rgba($brand-secondary, 0.8) 0%, rgba(0,0,0,0) 80%);
      @media(min-width: 640px) {
        display: none;
      }
    }
    ul {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      @media(min-width: 640px) {
        top: 50%;
        padding-top: 5px;
        -webkit-transform: translateY(-50%);
           -ms-transform: translateY(-50%);
               transform: translateY(-50%);
      }
      li {
        float: left;
        &:first-of-type {
          margin-right: 30px;
        }
        @media(min-width: 680px) {
          &:first-of-type {
            margin-right: 40px;
          }
        }
        @media(min-width: 1140px) {
          &:first-of-type {
            margin-right: 60px;
          }
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-family: $font-family-sans-serif-condensed;
          font-size: calc(8px + 1.25vw);
          line-height: 1;
          transition: 0.3s;
          strong {
            font-size: calc(14px + 1.5vw);
          }
          @media(min-width: 640px) {
            font-size: calc(10px + 1vw);
            strong {
              font-size: calc(14px + 1.25vw);
            }
          }
          @media(min-width: 960px) {
            strong {
              font-size: calc(16px + 1.5vw);
            }
          }
          @media(min-width: 1380px) {
            font-size: 27px;
            strong {
              font-size: 37px;
            }
          }
          @media(max-width: 639px) {
            font-size: calc(10px + 1.25vw);
            strong {
              font-size: calc(16px + 1.5vw);
            }
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
//
//    Intro
//
//------------------------------------------------------------------------------

.intro-wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 12px;
  @media(min-width: 640px) {
    padding: 0 30px;
  }
  @media(min-width: 680px) {
    padding: 0 60px;
  }
  @media(min-width: 960px) {
    margin-top: -12px;
  }
}

#intro {
  [class*='col-'] {
    display: inline-block;
    vertical-align: middle;
  }
  .col-left {
    width: 100%;
    @media(min-width: 960px) {
      width: 265px;
    }
    @media(min-width: 1024px) {
      width: 325px;
    }
  }
  .col-right {
    width: 100%;
    @media(min-width: 960px) {
      width: calc(100% - 265px);
    }
    @media(min-width: 1024px) {
      width: calc(100% - 325px);
    }
  }

  h2 {
    display: block;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 24px;
    @media(min-width: 960px) {
      font-size: 2.25rem;
      span {
        position: relative;
        display: inline-block;
        color: $white;
        margin-left: 5px;
        &::before {
          content: "";
          position: absolute;
          display: block;
          background: $brand-secondary;
          width: 135px;
          height: 135px;
          border-radius: 50%;
          box-shadow: 0 5px 10px rgba($black, 0.25);
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
             -ms-transform: translate(-50%, -50%);
                 transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
    @media(min-width: 1024px) {
      font-size: 2.8rem;
      span {
        &::before {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.75;
    @media(min-width: 680px) {
      font-size: 1.25rem;
    }
    @media(min-width: 1140px) {
      //font-size: 1.5rem;
    }
  }

  .good-choices {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 12px;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    @media(min-width: 680px) {
      margin-top: 24px;
      padding: 0 20px;
    }
    @media(min-width: 960px) {
      margin-top: 42px;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: normal;
      float: left;
      padding: 0 10px;
      margin-bottom: 24px;
      width: 50%;
      transition: 0.3s;
      img {
        max-width: 100%;
      }
      span {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 6px;
      }
      &:hover {
        opacity: 0.6;
      }
      @media(min-width: 520px) {
        width: 33.3333333%;
      }
      @media(min-width: 768px) {
        width: 20%;
      }
      @media(min-width: 1024px) {
        font-size: 1.5rem;
        span {
          padding-top: 12px;
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
//
//    Footer
//
//------------------------------------------------------------------------------

#footer-bg {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 16.06%;
  background: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

#primary-footer {
  position: relative;
  margin-top: 42px;
  @media(min-width: 640px) {
    margin-top: 96px;
  }
  &::before {
    @media(min-width: 640px) {
      content: "";
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;
      margin: auto;
      width: 89%;
      height: 190px;
      background: transparent;
      box-shadow: 0 0 20px rgba($black, 0.4);
      border-radius: 100px 100px 0 0;
      z-index: -1;
    }
    @media(min-width: 680px) {
      height: 200px;
    }
    @media(min-width: 790px) {
      height: 212px;
    }
    @media(min-width: 940px) {
      height: 224px;
    }
    @media(min-width: 1120px) {
      top: -48px;
      height: 192px;
    }
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  #footer-logo {
    position: relative;
    background: url(../img/simplot-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 58px;
    margin: auto;
    margin-bottom: 20px;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    @media(max-width: 574px) {
      margin: 0 auto;
      margin-bottom: 20px;
    }
    @media(min-width: 1120px) {
      position: absolute;
      background: url(../img/footer-logo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 190px;
      height: 190px;
      top: -87px;
      left: 125px;
      margin: auto;
    }
  }
  nav {
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        @media(min-width: 575px) {
          float: left;
          margin: 0 5px;
          &::after {
            content: "|";
            margin-left: 5px;
          }
          &:last-of-type::after {
            display: none;
          }
        }
        @media(min-width: 800px) and (max-width: 1119px) {
          &::after {
            content: "|";
            margin-left: 10px;
          }
          &:last-of-type::after {
            display: none;
          }
        }
        @media(min-width: 1120px) {
          &::after {
            display: none;
          }
        }
        @media(min-width: 1120px) {
          margin: 0 15px;
        }
        a {
          text-decoration: none;
          font-size: 1.15rem;
          font-family: $font-family-sans-serif-condensed;
          @media(min-width: 720px) {
            font-size: 1.25rem;
          }
          @media(min-width: 1120px) {
            font-size: 1.4rem;
          }
        }
      }
    }
    @media(max-width: 574px) {
      //text-align: left;
      padding: 0 10px;
    }
    @media(min-width: 1120px) {
      width: 89%;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: right;
      padding-right: 100px;
    }
    @media(min-width: 1320px) {
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      padding-right: 0;
    }
  }
  .copyright-wrapper {
    text-align: right;
    padding: 0 10px 20px;
    @media(min-width: 640px) {
      padding: 0 20px 20px;
    }
  }
}

//------------------------------------------------------------------------------
//
//    Recipes & Videos Container
//
//------------------------------------------------------------------------------

#recipes,
#videos {
  margin-top: 42px;
  > .inner {
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  h2 {
    text-transform: uppercase;
    color: $gray-dark;
    font-size: 2rem;
    font-size: calc(2rem + 1.75vw);
    letter-spacing: 0.5rem;
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
    @media(min-width: 1140px) {
      font-size: 3rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.75;
    @media(min-width: 680px) {
      font-size: 1.25rem;
    }
    @media(min-width: 1140px) {
      font-size: 1.4rem;
    }
  }
}

//------------------------------------------------------------------------------
//
//    Recipes
//
//------------------------------------------------------------------------------

#recipes {
  .form-row {
    margin-bottom: $spacer-y;
    max-width: 1250px;
    @media(min-width: 1250px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  #filter-wrapper {
    @media(max-width: 599px) {
      left: 0;
      width: 100%;
      padding: 0 30px;
      #form-recipe-filters > span {
        padding: 0;
      }
    }
  }
  #search-wrapper {
    @media(max-width: 599px) {
      left: 0;
      width: 100%;
      padding: 0 30px;
      form {
        padding: 0;
      }
    }
  }
  .sort-by {
    @media ( max-width: '767px' ) {
      margin-bottom: 0;
      margin-top: $spacer-y;
    }
  }
  .sort-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-top: 9px;
    margin-right: 20px;
  }
  #form-recipe-filters {
    > span {
      display: inline-block;
      margin-right: $spacer-x;
      label {
        display: block;
        margin-top: $spacer-y / 2;
        text-transform: uppercase;
        font-family: $font-family-sans-serif-condensed;
        font-size: 0.875rem;
        font-weight: bold;
      }
      @media ( max-width: '767px' ) {
        padding-right: $spacer-x;
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }
  #form-recipe-search {
    float: right;
    width: 100%;
    input {
      width: 100%;
      background: url("#{$images}/search-icon.png") no-repeat right $white;
      background-size: auto 20px;
    }
    label {
      display: block;
      margin-top: $spacer-y / 2;
      text-transform: uppercase;
      font-family: $font-family-sans-serif-condensed;
      font-size: 0.875rem;
      font-weight: bold;
    }
    @media ( max-width: '767px' ) {
      float: none;
      padding-right: $spacer-x;
    }
  }
  md-grid-list {
    margin: 20px auto 40px;
    //max-width: 1281px;
    //max-width: 1180px;
    max-width: 1120px;
  }
  md-grid-tile {
  }
  .recipe-card-container {
    padding: 0;
    > .row {
      margin: 0 auto;
    }
  }
  .card, .grid-sizer {
     width: 301px;
  }
  .card {
    @include box-shadow( 0, 2px, 10px, rgba( 0, 0, 0, .35 ) );
    position: relative;
    border-radius: 0;
    border: 0;
    overflow: hidden;
    a {
      text-decoration: none;
      > .inner {
        padding: 0.75rem;
        display: inline-block;
        width: 100%;
        @media(min-width: 640px) {
          padding: 1rem;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: transparent;
      background: -webkit-linear-gradient(rgba($white, 0), $white 70%, $white 100%);
      background: -o-linear-gradient(rgba($white, 0), $white 70%, $white 100%);
      background: linear-gradient(rgba($white, 0), $white 70%, $white 100%);
      pointer-events: none;
    }
  }
  .card-img {
    border-radius: 0;
    width: 100%;
  }
  .card-title {
    color: $brand-secondary;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    //margin-bottom: 0.25rem;
    margin-bottom: 0.35rem;
  }
  .card-subtitle {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: $card-spacer-y;
    display: block;
  }
  .card-link {
    color: $brand-secondary;
    //text-decoration: underline;
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: $card-spacer-y * 2;
    margin-bottom: $card-spacer-y * 2;
    //margin-bottom: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  .view-more-recipes {
    width: 100%;
    text-align: center;
    margin: $spacer-y * 2 0;
  }

  // Trends
  .card.trend {
    .overlay {
      display: none;
    }
    .inner {
      display: none;
    }
  }
}

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    .inner {
      display: table;
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    cursor: pointer;
    .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
    }
  }
  img {
    display: block;
    position: relative;
    @include transition( all 0.35s );
  }
  p {
    color: $white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: $font-family-sans-serif-condensed;
    text-shadow: 0 1px 3px rgba($black, 0.3);
  }
}

//------------------------------------------------------------------------------
//
//    Videos
//
//------------------------------------------------------------------------------

#videos {
  .video-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    z-index: 10;
    @media(min-width: 960px) {
      margin-top: 24px;
      margin-bottom: 60px;
    }
    &::before {
      @media(min-width: 960px) {
        content: "";
        position: absolute;
        top: -52px;
        left: -90px;
        width: 980px;
        height: 554px;
        margin: 0 auto;
        background-image: url(../img/videos/video-background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
      }
    }
    .carousel {
      box-shadow: 0 5px 12px rgba($black, 0.4);
      height: 0;
      padding-bottom: 56.25%;
      background: $black;
    }
  }
  .video-wrapper {
    width: 100%;
    height: 0 !important;
    //padding-bottom: 56.25%;
    padding-bottom: calc(56.25% / 8); // num slides + 2
    iframe {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.slick-slide {
      position: relative;
    }
  }
  button {
    border: none;
    background: transparent;
    position: absolute;
    width: 84px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    top: calc(50% - 5px);
    transform: translateY(-50%);
    @media(max-width: 929px) {
      display: none !important;
    }
  }
  .prev {
    left: -48px;
    background-image: url(../img/videos/left-arrow.png);
    z-index: -1;
  }
  .next {
    right: -47px;
    background-image: url(../img/videos/right-arrow.png);
    z-index: -1;
  }


  .thumbnail-wrapper {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    @media(min-width: 1200px) {
      margin-bottom: 48px;
    }
  }
  .carousel-buttons {
    width: 1020px;
    span {
      display: block;
      text-align: center;
      font-size: 0.85rem;
      line-height: 1rem;
      float: left;
      min-width: 165px;
      width: 14.2857142%;
      opacity: 0.65;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ese;
      img {
        display: block;
        margin: auto;
        max-width: 180px;
        width: 100%;
        height: auto;
      }
      &.active {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .scroll-indicator {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1;
    @media(min-width: 1020px) {
      display: none;
    }
  }
}
