// Hide only visually, but have it available for screenreaders:by Jon Neal
// www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden
@mixin visually-hidden {
  border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;
  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard:drupal.org/node/897638
  &.focusable:active, &.focusable:focus, &.focus {
    clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto;
  }
}

@mixin transition( $transition ) {
  -moz-transition:    $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin opacity( $opacity ) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

.visually-hidden {
  @include visually-hidden;
}
html, body {
  height: 100%;
  background: none $white;
}
body {
  > .ng-scope {
    overflow: hidden;
  }
}
md-content.md-default-theme, md-content {
  background-color: $white;
}
md-content {
  overflow: hidden;
}
h1, h2, h3 {
  letter-spacing: 2px;
}
h4, h5, h6 {
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacer-y;
  line-height: 110%;
  &.no-margin {
    margin-bottom: 0;
  }
  &.intro-text {
    letter-spacing: 0;
    line-height: 140%;
    @media( max-width: '767px' ) {
      margin-bottom: $spacer-y / 2;
      font-size: 1.2rem;
    }
  }
}
@media( max-width: '479px' ) {
  h1 {
    font-size: 2rem;
  }
}
strong {
  font-family: $font-family-serif-2;
  font-weight: 700;
}
body, #header {
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  padding: 5px 80px 5px 10px;
  background: url("#{$images}/select-arrow-3.png") no-repeat right $white;
  border: 0;
  @include box-shadow( 0, 1px, 2px, rgba( 0, 0, 0, .35 ) );
}
select::-ms-expand {
  display: none;
}
input {
  padding: 5px 10px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border: 0;
  @include box-shadow( 0, 1px, 2px, rgba( 0, 0, 0, .35 ) );
}
span.reg {
  font-size: 11px;
  top: -4px;
  position: relative;
}
.img-responsive {
  max-width: 100%;
}
.center {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.no-gutter {
  @media( max-width: '767px' ) {
    padding-left: 0;
    padding-right: 0;
    @media( max-width: '599px' ) {
      padding-right: 12.5px;
    }
  }
  // margin-right: 12.5px;
  // padding-right: 0;
}
.nav-tabs {
  list-style: none;
  padding-left: 0;
  border-bottom: 0;
  margin-bottom: 0;
  .link-container {
    border-top: 5px solid;
    border-bottom: 5px solid;
    @media( max-width: '767px' ) {
      border: none;
    }
  }
  li {
    padding: 0 2px;
    text-align: center;
    &:first-child {
      padding-left: 0;
      @media( max-width: '767px' ) {
        padding-left: 2px;
      }
    }
    &:last-child {
      padding-right: 0;
      @media( max-width: '767px' ) {
        padding-right: 2px;
      }
    }
    .inner {
      a {
        text-decoration: none;
        @include transition( all .2s );
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
#navigation {
  li {
    width: 20%;
    margin-top: 4.5%;
    float: left;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    @media( max-width: '639px' ) {
      width: 25%;
    //  position: relative;
      transform: translateY( 80px );
    }
    @media( min-width: '640px' ) and ( max-width: '1079px' ) {
      width: calc( 25% - 38px );
      margin-top: 10px;
      &:first-child {
        // padding-left: 4px;
      }
      &:last-child {
        // padding-right: 4px;
      }
    }
    &.logo {
      margin-top: 0;
      @media( max-width: '639px' ) {
        transform: none;
        position: absolute;
        left: calc( 50% - 76px );
        // margin: 0 auto;
        // text-align: center;
      }
      @media( max-width: '1079px' ) {
        width: 152px;
      //  max-height: 100px;
      }
      .inner {
        margin: 0;
        padding: 0;
        border: 0;
        a {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .link-container {
      position: relative;
      @media( max-width: '767px' ) {
        border-top: 5px solid;
        border-bottom: 5px solid;
      }
      .inner {
        //margin-top: 26%;
        // display: table-cell;
        // vertical-align: middle;
        // position: absolute;
        width: 100%;
      }
      @media( max-width: '1079px' ) {
        // margin-top: 10px;
        height: 74px;
        width: 100%;
        position: relative;
        margin-top: 5px;
        .inner {
          display: table;
          margin-top: 3px;
          margin-bottom: 3px;
          a {
            height: 58px;
            display: table-cell;
            vertical-align: middle;
            @media( max-width: '479px' ) {
              font-size: 11px;
              height: 44px;
            }
          }
        }
      }
      @media( max-width: '479px' ) {
          height: 60px;
      }
    }
  }
}

.down-arrow {
  position: relative;
  width: 100%;
  margin: 50px 0;
  a {
    display: block;
    text-align: center;
    @include transition(opacity .2s);
    &:hover {
      cursor: pointer;
      @include opacity(0.7);
    }
  }
}
#main {
  @media( max-width: '639px' ) {
  //  position: relative;
    transform: translateY( 90px );
  }
}
#top {
  .hero {
    margin-top: -40px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 0;
    @media( max-width: '1079px' ) {
      margin-top: 0;
    }
    img {
      padding: 0;
    //  width: 100%;
    }
  }
  .learn-more {
    display: block;
    text-align: center;
    margin-top: 20px;
    @media( max-width: '767px' ) {
      margin-bottom: 20px;
    }
  }
  .callout {
    // padding: 0 2%;
    // position: relative;
    min-width: 300px;
    // height: 315px;
    margin: 0 auto;
    a {
      &:hover {
        cursor: pointer;
      }
    }
    .image-link {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 5px solid;
      width: 100%;
      height: 100%;
      // margin-bottom: 34%;
      position: relative;
      min-width: 300px;

      //height: 320px;
      // height: 100%;
      display: block;
      color: $white;
      // margin-bottom: 10px;
      > img {
          position: absolute;
          width: 100%;
          height: auto;
      }
      .overlay {
        position: relative;
        height: 100%;
        width: 100.1%;
        display: table;
        @include transition( background-color .2s );
        background: rgba(0, 0, 0, 0.35);
      }
      .inner {
        padding: 100px 0 74px;
        display: table-cell;
        vertical-align: middle;
        @media( max-width: '1024px' ) {
          padding: 14% 0 7%;
        }
        img {
          display: block;
          margin: 0 auto;
        }
      }
      &:hover {
        .overlay {
          background: rgba(0, 0, 0, 0);
        }
      }
    }

    &.seasonal {
    //  margin-right: 22.5px;
      // iframe {
      //   border: 5px solid $brand-primary;
      // }
      // a {
      // //  margin-left: 90px;
      // }
      .image-link {
        background-image: url(../img/seasonal-tablescape-angled-hands.jpg);
        border-color: $brand-primary;
      }
    }
    &.gameday {
      //margin-left: 22.5px;
      // float: right;
      // iframe {
      //   border: 5px solid $brand-secondary;
      // }
      // a {
      // //  margin-right: 90px;
      // }
      .image-link {
        background-image: url(../img/game-day-tablescape-204.jpg);
        border-color: $brand-secondary;
      }
    }
    // @media( max-width: '767px' ) {
    //   margin: 0 auto;
    //   &.gameday {
    //     margin-top: 20px;
    //   }
    // }
    // @media( min-width: '674px' ) and ( max-width: '767px' ) {
    //   margin: 0 auto;
    //   &.gameday {
    //     margin-top: 20px;
    //   }
    // }
    // @media( min-width: '768px' ) and ( max-width: '1200px' ) {
    //   width: 360px;
    //   height: 187px;
    //   .inner {
    //       img {
    //         width: 40px;
    //         height: 40px;
    //       }
    //       h3 {
    //       margin-bottom: 10px;
    //       strong {
    //         display: block;
    //       }
    //     }
    //   }
    // }
    // @media( min-width: '1201px' ) and ( max-width: '1400px' ) {
    //   width: 500px;
    //   height: 260px;
    // }
  }
}
#seasonal {
  position: relative;
  .outline {
    border: 5px solid $brand-primary;
    padding: $spacer-y * 2 $spacer-x / 2 $spacer-y;
    @media( max-width: '767px' ) {
      border: none;
      padding: 0;
    }
  }
  h1 {
    color: $brand-primary;
    @media( min-width: '767px' ) and ( max-width: '979px' ) {
      strong {
        display: block;
      }
    }
  }
  .product-group {
    padding: 0 $spacer-x * 2;
    display: none;
    @media( max-width: '767px' ) {
      padding: 0;
    }
    &.active {
      display: block !important;
    }
  }
  .circle-stat {
    width: 185px;
    height: 185px;
    position: absolute;
    right: $spacer-x;
    top: -$spacer-y * 2;
    @media( max-width: '767px' ) {
      position: relative;
      margin: 0 auto $spacer-y;
      right: 0;
      top: 0;
    }
    img {
      width: 100%;
      position: relative;
      z-index: 10;
    }
    .overlay {
      position: absolute;
      top: 0;
      display: table;
      width: 100%;
      height: 100%;
      .inner {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 20;
        color: $white;
        font-family: $font-family-serif-2;
        h3, p {
          margin-bottom: 0;
          line-height: 130%;
        }
        h3 {
          font-weight: 900;
        }
        p {
          font-size: 15px;
          font-style: italic;
        }
        small {
          font-size: 11px;
          font-style: italic;
        }
      }
    }
  }
  .nav-tabs:not( .scroll-tabs ) {
    margin: $spacer-y * 2 $spacer-x / 4 $spacer-y;
    @media( max-width: '767px' ) {
      margin-top: $spacer-y;
    }
    li {
      .link-container {
        @media( max-width: '767px' ) {
          margin-bottom: $spacer-y / 4;
        }
        a {
          color: $brand-primary;
          @include transition( all .2s );
          span {
            font-weight: 900;
          }
          p {
            display: none !important;
          }
        }
        &:hover, &.active {
          margin-top: -32px;
          @media( max-width: '767px' ) {
            margin-top: 0;
          }
          a {
            background: $brand-primary;
            color: $white;
            header {
              font-size: 24px;
              @media( max-width: '1024px' ) {
                font-size: 18px;
              }
            }
            p {
              width: 75%;
              margin: 0 auto;
              display: block !important;
              @media( max-width: '1024px' ) {
                width: 95%;
              }
            }
          }
        }
      }
    }
  }
  .carousel {
    padding: 0 $spacer-x * 2;
    @media( max-width: '767px' ) {
      padding: 0;
    }
    .carousel-inner {
      margin-left: $grid-gutter-width / 2;
      margin-right: $grid-gutter-width / 2;
    }
    .carousel-item {
      margin: $spacer-y 0 $spacer-y * 1.5;
      border: 5px solid $brand-primary;
      padding-left: 0;
      padding-right: 0;
      // margin-left: $grid-gutter-width / 2;
      // margin-right: $grid-gutter-width / 2;
      width: calc(100% - #{$grid-gutter-width});
      //position: relative;
      img {
        max-width: 100%;
      }
      .overlay {
        position: absolute;
        max-width: 45%;
        &.bottom {
          bottom: $spacer-y * 2;
        }
        &.top {
          top: $spacer-y * 2;
        }
        &.right {
          right: $spacer-x * 2;
        }
        &.left {
          left: $spacer-x * 2;
        }
        &.center {
          margin: 0 auto;
          top: 8rem;
          left: 16rem
        }
        &.center-left {
          margin: 0 auto;
          top: 8rem;
          left: 16rem
        }
        @media( max-width: '767px' ) {
          max-width: 70%;
          &.bottom {
             bottom: $spacer-y / 2;
          }
          &.top {
             top: $spacer-y / 2;
          }
          &.right {
            right: $spacer-x / 2;
          }
          &.left {
            left: $spacer-x / 2;
          }
          &.center {
            top: $spacer-y / 2;
            left: $spacer-x / 2;
          }
          &.center-left {
            top: $spacer-y / 2;
            left: $spacer-x / 2;
          }
        }
      }
    }
  }
  article {
    > .inner {
      padding: 30px;
      height: 260px;
      @media( max-width: '1024px' ) {
        min-height: 0;
        height: auto;
        padding: 15px 15px 50px;
      }
      @media( min-width: '1025px' ) and ( max-width: '1220px' ) {
        min-height: 340px;
        height: auto;
      }
      h6 {
        margin-bottom: $spacer-y / 2;
        text-transform: uppercase;
        font-family: $font-family-serif-2;
        font-weight: 900;
        a {
          color: $brand-primary;
          &:hover {
            cursor: pointer;
            color: $gray;
          }
        }
      }
      p strong {
        color: $brand-primary;
      }
    }
    .recipe-link {
      display: inline-block;
      > .inner {
        border-top: 2px solid $brand-primary;
        border-bottom: 2px solid $brand-primary;
        padding: $spacer-y / 4 0;
        position: absolute;
        bottom: $spacer-y;
        right: $spacer-x * 2;
      }
      @media( max-width: '1024px' ) {
        float: right;
        margin-right: 0;
        > .inner {
          position: static;
        }
      }
      a {
        text-decoration: none;
        color: $brand-primary;
        padding: $spacer-y / 4 $spacer-x;
      //  margin: $spacer-y / 2 0;
        &:hover {
          background: $brand-primary;
          color: $white;
        }
      }
    }
    &.active {
      > .inner {
        padding: 25px;
        border: 5px solid $brand-primary;
        @media( max-width: '1024px' ) {
          min-height: 0;
          height: auto;
          padding: 10px 10px 45px;
        }
      }
    }
  }
}

#gameday {
  @extend #seasonal;
  .outline {
    border-color: $brand-secondary;
  }
  h1 {
    color: $brand-secondary;
  }
  .circle-stat {
    left: $spacer-x;
    @media( max-width: '767px' ) {
      left: 0;
    }
  }
  .nav-tabs:not( .scroll-tabs ) {
    // margin: $spacer-y * 2 $spacer-x / 4 $spacer-y;
    li {
      .link-container {
        border-color: $brand-secondary;
        a {
          color: $brand-secondary;
        }
        &:hover, &.active {
          a {
            background: $brand-secondary;
          }
        }
      }
    }
  }
  .carousel {
    .carousel-item {
      border-color: $brand-secondary;
  }
  }
  article {
    > .inner {
      h6 {
        a {
          color: $brand-secondary;
        }
      }
      p strong {
        color: $brand-secondary;
      }
    }
    .recipe-link {
      > .inner {
        border-color: $brand-secondary;
      }
      a {
        color: $brand-secondary;
        &:hover {
          background: $brand-secondary;
        }
      }
    }
    &.active {
      > .inner {
        border: 5px solid $brand-secondary;
      }
    }
  }
}

.scroll-tabs {
  margin-top: $spacer-y * 2 ;
  li {
    .inner {
      &:hover {
         margin-top: 0 !important;
      }
    }
    @media( max-width: '767px' ) {
      margin-bottom: $spacer-y / 2;
    }
  }
}
.nav-tabs li {
  &:hover {
  //  margin-top: 0 !important;
  }
  .link-container {
    border-color: $brand-primary;
  }
  &.seasonal {
    .link-container {
      border-color: $brand-primary !important;
      a {
        color: $brand-primary !important;
        &:hover, &:active {
          background: $brand-primary !important;
          color: $white !important;
        }
      }
    }
  }
  &.gameday {
    .link-container {
      border-color: $brand-secondary !important;
      a {
        color: $brand-secondary !important;
        &:hover, &:active {
          background: $brand-secondary !important;
          color: $white !important;
        }
      }
    }
  }
  &.recipes {
    .link-container {
      border-color: $gray !important;
      a {
        color: $gray !important;
        &:hover, &:active {
          background: $gray !important;
          color: $white !important;
        }
      }
    }
  }
  &.save {
    .link-container {
      border-color: $gray-light !important;
      a {
        color: $gray-light !important;
        &:hover, &:active {
          background: $gray-light !important;
          color: $white !important;
        }
      }
    }
  }
}

#recipes {
//  margin-top: 120px;
  .form-row {
    margin-bottom: $spacer-y;
  }
  .sort-by {
    @media ( max-width: '767px' ) {
      margin-bottom: 0;
      margin-top: $spacer-y;
    }
  }
  #form-recipe-filters {
    > span {
      display: inline-block;
      margin-right: $spacer-x;
      label {
        display: block;
        margin-top: $spacer-y / 2;

      }
      @media ( max-width: '767px' ) {
        padding-right: $spacer-x;
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }
  #form-recipe-search {
    float: right;
    margin-top: $spacer-y * 2;
    @media ( max-width: '767px' ) {
      float: none;
      input {
        width: 100%;
      }
    }
  }
  md-grid-list {
    margin: 20px auto 40px;
    max-width: 1281px;
  }
  md-grid-tile {
  }
  .recipe-card-container {
    padding: 0;
    > .row {
      margin: 0 auto;
    }
  }
  .card, .grid-sizer {
//    width: calc(25% - 25px);
     width: 301px;
  }
  .card {
    @include box-shadow( 0, 2px, 4px, rgba( 0, 0, 0, .35 ) );
    // margin: $grid-gutter-width / 2;
    // padding-right: 0;
    // padding-left: 0;
    // float: left;
    // &.double-wide {
    //   width: 629px;
    //   @media ( max-width: '718px' ) {
    //     width: 301px;
    //   }
    // }
    a {
      text-decoration: none;
      > .inner {
        padding: 0.75rem;
        display: inline-block;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  //  margin-bottom: $card-spacer-y;
    width: 100%;
  }
  .card-title {
    font-weight: bold;
    // width: 80%;
    text-transform: uppercase;
    @media( max-width: '959px' ) {
      font-size: 16px;
    }
  }
  .card-subtitle {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: $card-spacer-y;
    display: block;
  }
  .card-link {
    text-decoration: underline;
    font-weight: bold;
    margin-top: $card-spacer-y * 2;
    margin-bottom: $card-spacer-y * 2;
    &:hover {
      text-decoration: none;
    }
  }
  .view-more-recipes {
    width: 100%;
    text-align: center;
    margin: $spacer-y * 2 0;
  }
}
#primary-footer {
  @media( max-width: '639px' ) {
  //  position: relative;
    transform: translateY( 90px );
    margin-bottom: 100px;
  }
  .footer-divider {
    position: relative;
    height: 5px;
  //  width: 100%;
    background-color: $gray;
    margin-top: $spacer-y * 2;
    margin-bottom: $spacer-y * 2;
    .inner {
      width: 100%;
      text-align: center;
      img {
        width: 68px;
        margin-top: -31px;
        //margin: 0 auto;
      }
    }
  }
  .footer-links-container {
    margin-bottom: $spacer-y;
  }
  .footer-links {
    float: right;
    margin-top: $spacer-y * 2.5;
    a {
      margin-right: $spacer-x;
    }
    @media( max-width: '1024px' ) {
      float: none;
      margin-top: 20px;
      display: block;
      text-align: center;
      .copyright {
        display: block;
        text-align: center;
      }
    }
  }
}

/*
// Hover effect for recipe card images
*/
.hovereffect {
  width: 100%;
  // height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    .inner {
      display: table;
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    cursor: pointer;
    .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
    }
  }
  img {
    display: block;
    position: relative;
    @include transition( all 0.35s );
  }
  p {
    color: $white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: $font-family-serif-2;
  }
}
@media (min-width: 832px) {
  .modal-dialog {
    max-width: 832px;
  }
}
.modal-content iframe{
  margin: 0 auto;
  display: block;
  width: 100%;
  @media (max-width: 831px) {
      padding-bottom: 80%;
  }
    // padding-bottom: 44%;
}
